<div style="height:45px; align-items: center;display: flex; padding-left: 5px">
  <h1 style="margin: initial">{{title}}</h1>


  <div  *ngIf = 'showDateRange' style="margin-left:20px;height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px">
    <span style="width:5px">
      <span [ngClass]="getRangeBulletClass()">&bull;</span>
    </span>
    <label>Date:</label>
    <input class="gridinput" [(ngModel)]="rangeDate" style="width:100px;background-color:white; color:black" type="date">
    <label>From:</label>
    <input [ngxTimepicker]="picker" [format]="24" class="gridinput" [(ngModel)]='rangeFrom' style="background-color:white; color:black">
    <ngx-material-timepicker #picker [ngxMaterialTimepickerTheme]="darkTheme"></ngx-material-timepicker>
    <label>To:</label>
    <input [ngxTimepicker]="picker2" [format]="24" class="gridinput" [(ngModel)]='rangeTo' style="background-color:white; color:black">
    <ngx-material-timepicker #picker2 [ngxMaterialTimepickerTheme]="darkTheme"></ngx-material-timepicker>

    <button (click)="setSelectedRange()">Load</button>

  </div>

  <div style="margin-left:20px;height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px">
    <span style="width:5px">
      <span [ngClass]="getOffsetBulletClass()">&bull;</span>
    </span>
    <label>Current Time</label>

    <label>From:</label>
    <select name="from" [(ngModel)]='offsetFrom' style="background-color:white; color:black">
      <option value="-240">-4 hours</option>
      <option value="-180">-3 hours</option>
      <option value="-120" selected="selected">-2 hours</option>
      <option value="-60">-1 hour</option>
      <option value="0">0 hour</option>
      <option value="60">+1 hour</option>
      <option value="120">+2 hour</option>
      <option value="180">+3 hour</option>
      <option value="240">+4 hour</option>
      <option value="300">+5 hour</option>
      <option value="360">+6 hour</option>

    </select>
    <label>To:</label>
    <select name="to" [(ngModel)]='offsetTo' style="background-color:white; color:black">
      <option value="-180">-3 hours</option>
      <option value="-120">-2 hours</option>
      <option value="-60">-1 hour</option>
      <option value="0">0 hour</option>
      <option value="60">+1 hour</option>
      <option value="120">+2 hour</option>
      <option value="180">+3 hour</option>
      <option value="240"  selected="selected">+4 hour</option>
      <option value="300">+5 hour</option>
      <option value="360">+6 hour</option>
    </select>

    <button (click)="setCurrentRange()">Load</button>

  </div>

  <div style="margin-left:20px;height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px">
    <label>Timescale Zoom:</label>
    <button (click)="zoom(-1)" style='font-size: 9px; width:20px; cursor: zoom-out;'>&lt;&lt;</button>
    <button (click)="zoom(1)" style='font-size: 9px; width:20px; cursor: zoom-in;'>&gt;&gt;</button>
  </div>

  <div style="margin-left:20px;height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px">
     <button (click)="refresh()" style='font-size: 9px; width:70px'>Refresh Now!</button>
  </div>
  <div style="margin-left:20px;height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px">
    <button (click)="openAddDialog()" style='font-size: 9px; width:70px'>Add Allocation</button>
 </div>
<div style="margin-left:20px;height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px">
  <button (click)="deleteToday()" style='font-size: 9px; width:70px'>Delete Today</button>
</div>
 <div style="margin-left:20px;height:20px;align-items: center;display: flex; flex-direction: row;padding-left: 10px">
  <button (click)="openFileDialog()" style='font-size: 9px; width:70px'>Upload Schedule</button>
</div>
</div>


<ag-grid-angular #agGrid style="width: 100%; height: calc(100vh - 45px);" id="myGrid" class="ag-theme-balham-dark"
  [rowData]="rowData" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [getContextMenuItems]= "getContextMenuItems"
  [frameworkComponents]="frameworkComponents" [animateRows]="true" [enableSorting]="true" [getRowNodeId]="getRowNodeId"
  [groupUseEntireRow]="true" [suppressCellSelection]="true"  (gridReady)="onGridReady($event)" >
</ag-grid-angular>
 

    <!-- Hidden forms form submission and downloading   [suppressContextMenu]="true"-->

    <form id="downloadxmlform" class="d-none" method="post" target="_self">
      <input type="hidden" name="mvtID" />
    </form>
