.ganttItem {
  position: absolute;
  background-color: green;
  height: 17px;
  top:3px;
  display: flex;
  align-items: center;
  z-index: 63000;
  border-radius: 4px;
  padding-left: 5px;
  font-size: 10px;
  }

  .SH {
    background-color: blueviolet
  }

  .OB {
    background-color: green;
  }

  .Unassigned {
    background: red;
  }

  .nowIndicator {
      border-left: 2px goldenrod dashed;
      position: absolute;
      top: 0px;
      z-index: 64000;
  }
  .hourIndicator {
    border-left: 1px lightslategray dashed;
    position: absolute;
    top: 0px;
    
}